language: node_js
node_js:
 - 'stable'
env:
 - global
services:
 - postgresql
install:
 - npm install
before_script:
 - psql -c "CREATE DATABASE tznvnvbe;" -U postgres
 - psql -c "CREATE USER tznvnvbe WITH PASSWORD 'f9PLh5CImii-y6vaTwevSAKSh50pRi06';" -U postgres
script:
 - npm test
after_success:
 - npm run coverage
 - npm run clean:db
after_failure:
 - npm run clean:db