DATABASE_URL_DEV=development_DB_URL_string
GOOGLE_CLIENT_ID=areallylongstringofnumbersandalphabets
GOOGLE_CLIENT_SECRET=anotherlongstringofnumbersandalphabets
FACEBOOK_CLIENT_ID=anotherlongstringofnumbersandalphabets
FACEBOOK_CLIENT_SECRET=anotherlongstringofnumbersandalphabets
TWITTER_CLIENT_ID=anotherlongstringofnumbersandalphabets
TWITTER_CLIENT_SECRET=anotherlongstringofnumbersandalphabets