DATABASE_URL_DEV=development_DB_URL_string
DATABASE_URL_TEST=test_DB_URL_string
API_KEY=9876543456789
API_SECRET=98976534567890
SENDGRID_API_KEY=hgfgh.01sBJqATTIyrn1149faZAQ.zt5Q2t1hkogb3iFq-gfhjkl.kjhgfvbnhmjkjh
JWT_SECRET_KEY='ghjkjhghj'
SUPER_ADMIN_PASSWORD='hgfdfghj33'
SUPER_ADMIN_EMAIL='kjhgfgh@ghj.com'
GOOGLE_CLIENT_ID=vbnmmmnbnvbcfxgchvjkljbhgfghjkjhgfghjbknlkjhvgc
GOOGLE_CLIENT_SECRET=cvbnkjhgfdghjhgf
FACEBOOK_CLIENT_ID=0987654345678
FACEBOOK_CLIENT_SECRET=8765435ghjkjhg876fg
TWITTER_CLIENT_ID=jhgf789098765fghjnbv8
TWITTER_CLIENT_SECRET=kjhgfghj987654ghjhg678
