DATABASE_URL_DEV=development_DB_URL_string
googleClientID=areallylongstringofnumbersandalphabets
googleClientSecret=anotherlongstringofnumbersandalphabets
facebookClientID=anotherlongstringofnumbersandalphabets
facebookClientSecret=anotherlongstringofnumbersandalphabets
twitterClientID=anotherlongstringofnumbersandalphabets
twitterClientSecret=anotherlongstringofnumbersandalphabets